h1 {
    color: blueviolet
}
p {
    font-family: cursive;
}

body {
    background-color: white;
    background-image: url("burrito06.jpg");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    div.style1 {
        background-color: thistle; 
		opacity: 0.75;
        text-align: center;
    }